{% extends 'layout/base.twig' %}

{% block logo_link %}
	{{urlFor('browse-books')}}
{% endblock %}

{% block header_menu %}
<div class="col-sm-8">
	<div class="shop-menu pull-right">
		<ul class="nav navbar-nav">
			<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
			<li><a href="#"><i class="fa fa-star"></i> Wishlist (0)</a></li>
			<li><a href="#"><i class="fa fa-crosshairs"></i> Checkout</a></li>
			<li><a href="#"><i class="fa fa-shopping-cart"></i> Cart (0)</a></li>
			<li><a href="{{urlFor('logout')}}"><i class="fa fa-power-off"></i> Logout</a></li>
		</ul>
	</div>
</div>
{% endblock %}